.footer {
	background-color: #080a19;
	padding: 1rem;
	direction: rtl;
	color: white !important;
	padding: 40px 40px 0 40px;
}

.footer .footer__columns {
	width: 80%;
	margin: 5px auto;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 30px 0;
}

.footer .footer__columns .footer__column input {
	color: #000;
	font-size: 1rem;
	padding: 5px;
}

.footer .footer__columns .footer__column button {
	font-size: 1rem;
	/* border-radius: 10rem; */
	background-image: linear-gradient(to bottom right, #fa0347 0%, #fc561c 100%);
}

.footer .footer__dev {
	padding: 30px 0;
	border-top: 1px solid #ffcdcd;
}

.footer .footer__dev p a {
	color: #fff;
}

.footer a {
	color: #fff !important;
}

@media screen and (max-width: 600px) {
	.footer .footer__columns {
		flex-direction: column;
	}
	.footer .footer__columns .footer__column {
		margin: 20px 0;
	}
}