.gymFeatures {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

/* .gymFeatures__header {
	margin-bottom: 15px;
} */

.gymFeaturesCircles {
	position: absolute;
	z-index: -1;
}

.gymFeaturesCircles:nth-child(1) {
	right: 15px;
	top: 3rem;
}

.gymFeaturesCircles:nth-child(2) {
	left: 10rem;
	top: 8rem;
}

.gymFeaturesCircles:nth-child(3) {
	right: 10rem;
	top: 16rem;
}