nav.Header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 1rem;
	width: 100%;
}

nav.Header .Header__logo h1 a {
	display: flex;
	justify-content: center;
	align-items: center;
}

nav.Header .Header__logoIcon {
	width: 2rem;
	object-fit: contain;
	margin: 0 5px;
}

nav.Header .Header__items {
	width: 63%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	direction: rtl;
}

nav.Header .Header__items .Header__pagesLinks {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav.Header .Header__items:nth-child(2) .Header__item {
	margin: 0 5px;
}

nav.Header .Header__items .Header__item {
	transition: all .3s;
	margin: 0 5px;
}

nav.Header .Header__items .Header__item.fa-user-circle {
	font-size: 1.5rem;
}

nav.Header .Header__items .Header__itemsbtn {
	padding: 8px 12px !important;
	border-radius: 100px;
	cursor: pointer;
	position: relative !important;
	background-color: transparent;
	overflow: hidden;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
}

nav.Header .Header__items .Header__itemsbtn::before {
	content: '';
	width: 200%;
	height: 100%;
	position: absolute;
	background-size: 200% auto;
	background-image: linear-gradient(to left, #fa0347 0%, #fc561c 25%, #fa0347 50%,  #fc561c 75%, #fa0347 100%);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	transform: translateX(50%);
	transition: all .3s;
}

nav.Header .Header__items .Header__itemsbtn:hover::before {
	transform: translateX(0);
}

nav.Header .Header__items .Header__item {
	position: relative;
	padding: 5px;
}

.Header__items .Header__item:hover {
  opacity: .8;
}

.Header__items .Header__pagesLinks .Header__item::after {
  content: '';
  width: 0;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  transition: all .3s;
  transform-origin: left;
  left: 0;
}

.Header__items .Header__pagesLinks .Header__item:hover::after {
  width: 100%;
  transform-origin: right;
  right: 0;
}

.Header .Header__hamburger {
  display: none;
  cursor: pointer;
}

.Header__hamburger span {
  width: 50px;
  height: 5px;
  background-color: #000;
  border-radius: 100px;
  margin: 5px 0;
}

.Header__closeHamburger {
	display: none;
}

/* Home Header Classes */

nav.Header.home__header {
	position: absolute;
	color: white;
}

nav.Header.home__header .Header__logo a {
	color: white;
}

nav.Header.home__header .Header__items .Header__item a {
	color: white;
}

nav.Header.home__header .Header__items .Header__pagesLinks .Header__item::after {
	background-color: white;
}

nav.Header.home__header .Header__hamburger span {
  background-color: #fff;
}

/* Home Header Classes */

/* Responsive css */

@media screen and (max-width: 600px) {
	nav.Header {
		position: relative;
		width: 100%;
		z-index: 5;
	}

  nav.Header .Header__hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav.Header .Header__items {
		position: fixed;
		width: 50%;
		height: 100vh;
		overflow: hidden;
		right: 0;
		top: 0;
		background-color: #fff;
    display: flex;
    flex-direction: column-reverse;
		align-items: center;
    justify-content: center;
		color: #000 !important;
		padding: 5px;
		transform: translateX(100%);
		transition: all .3s;
	}

  nav.Header .Header__items.header_activeHamburger {
		transform: translateX(0);
	}

	.Header__closeHamburger {
		display: block;
		position: absolute;
		left: 10px;
		top: 10px;
		font-size: 2rem;
	}

  nav.Header .Header__items .Header__pagesLinks,
  nav.Header .Header__items .Header__otherLinks {
    display: flex;
    justify-content: space-evenly;
		align-items: flex-start;
    flex-direction: column;
	}

  nav.Header .Header__items .Header__otherLinks {
    flex-direction: column-reverse;
		align-items: center;
	}

  nav.Header .Header__items .Header__item {
		margin: 10px 0;
		padding: 5px;
	}

  nav.Header .Header__items .Header__otherLinks span {
		display: none;
	}

  nav.Header .Header__items .Header__item a {
		color: #000 !important;
	}

  nav.Header .Header__items .Header__pagesLinks .Header__item::after {
		background-color: #000 !important;
		z-index: 6;
	}
}

/* Responsive css */




