.newsLetter {
	height: 40vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 2rem;
}

.newsLetter>img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.newsLetter>div {
	direction: rtl;
}

.newsLetter input {
	font-size: 1.2rem;
	background-color: #fff;
	padding: 5px;
	border-radius: 10rem;
}

.newsLetter button {
	font-size: 1.2rem;
	border-radius: 10rem;
	background-image: linear-gradient(to right, #fa0347 0%, #fc561c 100%);
	margin: 5px;
}